@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Browse","Store",new { genre = item.Name }, new { }) <br />
            @Html.ActionLink(item.Description ?? " ","Browse", "Store", new { genre = item.Name }, new { })
        </td>
    </tr>
}

</table>
